/*
 * Created Date: 2019-06-02
 * Author: 宋慧武
 * ------
 * Last Modified: Wednesday 2019-08-14 11:29:14 am
 * Modified By: the developer formerly known as 宋慧武 at <songhuiwu001@ke.com>
 * ------
 * HISTORY:
 */
@include block("fade-in") {
  &-enter-active,
  &-leave-active {
    opacity: 1;
    transition: opacity .3s linear;
  }
  &-enter,
  &-leave,
  &-leave-active {
    opacity: 0;
  }
}
