/*
 * Created Date: 2019-08-21
 * Author: 宋慧武
 * ------
 * Last Modified: Wednesday 2019-08-21 22:21:53 pm
 * Modified By: the developer formerly known as 宋慧武 at <songhuiwu001@ke.com>
 * ------
 * HISTORY:
 */
.trigger-track {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
  .ant-btn {
    display: block;
    width: 229px;
    margin: 32px auto 52px;
  }
  .description {
    padding: 20px 0;
  }
}